.updateuser {
    display: flex;
    flex-direction: column;
     width: 100%;
     align-items: center;
     .updateuser-card {
            width: 75%;
            min-width: 250px;

            .updateuser-form{
                    .bt-update{
                            margin-right: 20px;
                    }
            }
     }
}

.smsvalidation {
        display: flex;
        flex-direction: column;

        .smsinput {
            display: flex;
            flex-direction: row;
            margin-left: 5px;

            .smscode{
                margin-left: 5px;
            }
            .smvalidatebt{
                margin-left: 5px;
            }
            .smssendbt{
                margin-left: 5px;
            }
        }
}